* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}

#time-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#refresh {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 850ms ease;
}

#last-update-time {
    font-size: 0.8rem;
    color: #777;
}

#temperature-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#thermometer-icon {
    height: 2rem;
    margin-right: 0.5rem;
}

#temperature {
    font-size: 3rem;
}

#wind-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#windsock-icon {
    height: 1.5rem;
    margin-right: 0.5rem;
}

#wind-speed {
    font-size: 1rem;
    color: #555;
}

#wind-degree {
    height: 1.5rem;
    transform-origin: center;
    margin-left: 1rem;
}

#weather-condition-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weather-condition {
    font-size: 1.5rem;
}

#location-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#location-icon {
    width: 1rem;
    margin-right: 0.5rem;
}

#location-name {
    font-size: 2rem;
    font-weight: bold;
    color: #e74c3c;
    cursor: pointer;
}

#feels-like {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    color: #555;
}

#country-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e74c3c;
    margin-top: 0.5rem;
}

#new-location-box {
    margin-top: 1.5rem;
    text-align: center;
}

#new-location-name {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    transition: background-color 0.3s, border-color 0.3s;
    display: none;
}

#new-location-name::placeholder {
    color: #aaa;
}

#new-location-name:focus {
    outline: none;
    background-color: #fff;
    border-color: #e74c3c;
}

#new-location-name:focus::placeholder {
    color: #e74c3c;
}